/node_modules
/.next/
/out/
/build
.DS_Store
*.pem
npm-debug.log*
dev.log
*.log
.env
.env*.local
next-env.d.ts
/prisma/dev.db
/prisma/dev.db-journal
*.tsbuildinfo
turso-test.db*
presentation-gestion-of.pdf
